<div class="x-dialog" id="loginDialog" role="dialog" aria-modal="true" aria-labelledby="loginTitle">
  <div class="x-dialog__overlay"></div>
  <div class="x-dialog__content">
    <button class="x-dialog__close" aria-label="Close">&times;</button>
    <div class="x-dialog__header">
      <svg class="x-dialog__logo" viewBox="0 0 300 300">
        <g fill="none" stroke="#0b0f11" stroke-width="44">
          <line x1="40"  y1="40"  x2="260" y2="260"/>
          <line x1="260" y1="40"  x2="40"  y2="260"/>
        </g>
      </svg>
    </div>
    <h2 id="loginTitle">{{ dictionary.login[lan] }} X</h2>
    <form class="x-dialog__form" action="bridge-login" method="POST" autocomplete="off">
      <input name="user_email" type="text" placeholder="Email" required>
      <input name="user_password" type="password" placeholder="Password" required>
      <button class="x-dialog__btn">{{ dictionary.next[lan] }}</button>
    </form>
    <p class="x-dialog__alt">{{ dictionary.dont_have_an_account[lan] }} <a href="#" data-open="signupDialog">{{ dictionary.signup[lan] }}</a></p>
  </div>
</div>